<section id="top">
<div id="menu">
  <a id="toggle" href="#">
    <i class="icon-menu"></i>
  </a>
  <ul>
    <li><a href="#!/introduction">Introduction</a></li>
    <li><a href="#!/getting-started">Getting Started</a></li>
    <li><a href="#tutorial">Tutorial</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#requests">Requests</a></li>
    <li><a href="#realtime">Realtime Services</a></li>
    <li><a href="#user">Signed in User</a></li>
    <li><a href="#configurations">Configurations</a></li>
    <li><a href="#links">Links</a></li>
  </ul>
</div>
<div id="heading">
  <div id="logo">

    <oauth
      site="https://dp1.hcc.org:5080/"
      authorize-path="authen"
      client-id="oauth-ng"
      redirect-uri="http://192.168.142.129:9000/"
      response-type="token"
      template="oauthtemplate.html"
      scope="public">
    </oauth>

    <div class="token" ng-if="accessToken">
      with access token {{ accessToken }} 
      <br/>
     expires_at {{ oauthToken.expires_at }}
    </div>

  </div>
  <div id="tagline">
    <p>
    Demo for <a href="http://andreareginato.github.io/oauth-ng/">oauth-ng</a>, AngularJS directive for OAuth 2.0
    </p>
    <p>
    Click to the sign in link above, login with the demo credentials and authorize<br>
    the application to get the authorized user and the access token.
    </p>
  </div>
</div>
</section>
